@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,500;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body{

    font-family: 'Figtree', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(47, 88%, 63%);
    padding: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80%;
    background-color:hsl(0, 0%, 100%);
    box-shadow: 20px 0 10px 10px rgb(0, 0, 0);
    border-radius: 30px;
    padding: 1rem;
    border: 2px solid hsl(0, 0%, 7%);
}

.content {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 100%;
}

.image img {
    border-radius: 6px;
    width: 100%;
    padding: 5px;
}

/*img{

    border-radius: 30px;
    width: 100%;
    padding: 20px;
    height: 60%;;
}*/

h1{
   /* padding-bottom: 20px;*/
    font-size: 20px;
    font-weight: bolder;
    color: hsl(0, 0%, 7%);
    padding: 5px;
    
}

h1:hover{
    color:hsl(47, 88%, 63%);
    cursor: pointer;
}

h2{
    font-weight:lighter ;
    font-size: 18px;
    padding: 5px;
}

h3{
    font-weight: bold;
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
    padding: 1px;
    font-size: 14px;
    padding: 5px;
  
}

p{
    font-size: 16px;
    color: hsl(0, 0%, 50%);
    padding: 5px;
}

span{
    font-weight: bold;

}

/*.attribution { 
    font-size: 11px;
    text-align: center;
    justify-content: center;
    align-items: center;
    bottom: 0;
    height: 5%;
}*/

.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

